
@{
    ViewBag.Title = "StajSonrasiYapilacaklar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/AnaSayfa.css" rel="stylesheet" />

<div class="StajSonrasiYapilacaklar-h1">
    <div class="Anasayfa-IcerikAlani">
        <div style="margin-left:470px ">
            <h1><b>Staj Sonrasi Yapılacaklar</b></h1>
        </div>
    </div>
</div>

<hr />

<p style="text-align:justify">
    Stajınız bittikten sonra, staj süresi boyunca sistem üzerinden günlük olarak yapılan işleri tuttuğunuz staj defteri otomatik olarak hazırlanmış olunacaktır.
    <br />
    <br />
    <a style="font-weight: bold; font-style: italic;color:red">Not:</a> <a style="text-align:justify">Staj takip sistemi üzerinden günlük olarak yaptığınız işleri sisteme yüklemeyi unutmayınız. Yapılan bu işlem ile günlük olarak yaptığınız işler kontrol edilecek olup aynı zamanda staj defteriniz gün gün otomatik olarak doldurulmuş olacaktır. Sistem üzerinden yükleme yapılmayan günler boş geçilecek olup staj defterinin de eksik oluşmasına neden olacaktır. Oluşan veya oluşabilecek sorunlardan dolayı lütfen günlük olarak sistem üzerinden numara ve şifreniz ile kullanıcı girişi yapıp yaptığınız işleri sistem üzerinden günlük olarak kaydetmeyi unutmayınız. </a>
    <br />
    <br />
    Staj defteriniz hazırlandıktan sonra sistem üzerinden indirme işlemini gerçekleştirebilir, ıslak imza veya kaşe gerektiren yerleri doldurabilirsiniz.
    <br />
    <br />
    <a style="font-weight: bold; font-style: italic;color:red">Not:</a> <a style="font-style:italic;color:gray">Ek-3c ve Ek-4b stajınızdan sorumlu kişi tarafından doldurulup, kapalı ve zarfın kapalı kısmı mühürlü/ kaşeli </a> bir şekilde size teslim edilmesi gerekmektedir.(Açık olan zarflar kabul edilmeyecektir.) Ek-3c ve Ek-4b'ye ulaşmak için <a href="~/StajBelgeleri/Staj-Sonrası.pdf" class="Anasayfa-a" style="color: #00ACC1">tıklayınız.(Staj Sonrası Formları)</a>
    <br />
    <br />
    <a href="~/StajBelgeleri/Staj-İşyeri-Ücret-Ödemeleri.pdf" class="Anasayfa-a" style="color: #00ACC1">Staj İşyeri Ücret Ödemeleri</a> ve Banka Dekontu (İşyeri Ücret Ödemeleri Formu (Stajyer öğrenci ve <a style="font-weight:bold;color:gray">firma/şirket</a> tarafından onaylı)
    <br />
    <br />
    (Bu belge stajdan ücret alıp almayacağınıza dair belgedir. Evrakın sadece ilgili bölümünü doldurunuz. <a style="font-weight:bold;color:gray">Tüm bölümler doldurulmayacaktır. Staj bittikten sonra</a> ücret alan öğrencilerin ücreti aldığına dair banka dekontu ile birlikte bu belgeyi teslim etmesi gerekmektedir.)
</p>

<hr />

<br />