
@{
    ViewBag.Title = "StajBilgilendirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Css/AnaSayfa.css" rel="stylesheet" />

<div class="StajBilgilendirme-h1">
    <div class="Anasayfa-IcerikAlani">
        <div style="margin-left:490px ">
            <h2><b>Staj Bilgilendirme</b></h2>
        </div>
    </div>
    <br />
</div>
<hr />

<div style="text-align:justify">
    <p>Staj Komisyon Üyeleri</p>

    <p style="font-weight:bold;font-style:italic">Başkan: </p> <p>Yrd. Doç. Dr. Salim CEYHAN </p>

    <p style="font-weight:bold;font-style:italic">Üye: </p> <p>Arş. Gör. Sefa TUNÇER</p>

    <ul>
        <li>Staj başvurusunu staja başlamadan <a style="font-weight:bold">en az 20 gün önce</a> yapmanız gerekmektedir.</li>
        <li>Başvuru belgelerini doldurduktan sonra sistem üzerinden yüklemelisiniz.</li>
        <li>Staj işlemleri için yapmanız gerekenler ekte verilen sunumda belirtilmiştir.</li>
        <li>Ayrıca <a href="/Home/BasvuruBelgeleri" class="Anasayfa-a" style="color: #E91E63 ">Başvuru Belgeleri</a> sayfasını inceleyiniz.</li>
        <li>Staj ile ilgili hazırlanmış olan bilgilendirme ve sunum dosyasına aşağıdaki ekten ulaşabilirsiniz. </li>
    </ul>

    <p>
        İlgili öğrencilere duyurulur. <a href="~/StajBelgeleri/staj_oncesi_ve_sonrasi.pdf" class="Anasayfa-a" style="color: #E91E63 ">(Staj Sunum Dosyası)</a>
    </p>

</div>




