
@{
    ViewBag.Title = "BolumumuzHakkında";
}

<h2 style="font-weight:bold">BÖLÜMÜMÜZ HAKKINDA</h2>
<br />
<div>
    <p>
        Bilgisayar Mühendisliği, Bilecik Üniversitesi Mühendislik Fakültesine bağlı olarak 29.05.2007 tarih ve 26536 sayılı resmi gazetede yayımlanan 5662 sayılı kanun uyarınca kurulmuştur. Bilgisayar Mühendisliği Bölümünde,
        <ul>
            <li> <i>1 adet Bilgisayar Laboratuarı,</i></li>
            <li> <i> 1 adet Bilgisayar Ağları Laboratuarı,</i></li>
            <li> <i>1 adet Gömülü Sistemler Laboratuarı,</i></li>
            <li> <i>1 adet Ölçme ve Donanım Laboratuarı,</i></li>
            <li> <i>1 adet Donanım Programlama Laboratuarı,</i></li>
            <li> <i> 1 adet Yüksek Lisans Çalışma Laboratuarı ve</i></li>
            <li> <i>1 adet Baskı Devre Çalışma Atölyesi bulunmaktadır.</i></li>
        </ul>
        Bölüm 4 adet derslik ve bir adet amfi ile 15 adet akademik personel ile eğitim vermektedir. Bölüm, lisans eğitiminde öğrencilerine modern dünyada bir bilgisayar mühendisi olarak kendilerine gerekli beceri, yetenek ve bilgiyi vermekte, başarılı bir iş hayatının ve kariyerinin devamı için profesyonel gelişimlerini sürdürebilecekleri sorumluluk ve profesyonellik duygusunu aşılamaktadır. Bilgisayar Mühendisleri özel yada devlet sektöründe ağ uzmanı, sistem yöneticisi, yazılım mühendisi yada bilgi işlem yöneticisi gibi alanlarda istihdam edilmektedirler. Ayrıca özel enstitü yada araştırma merkezlerinde araştırmacı olarak çalışabilme imkanları olabildiği gibi üniversitede akademik kariyer de yapabilirler.
    </p>
</div>

<br />
