
@{
    ViewBag.Title = "DikkatEdilecekHusular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/AnaSayfa.css" rel="stylesheet" />


<div class="DikkatEdilecekHususlar-h1">
    <div class="Anasayfa-IcerikAlani">
        <div style="margin-left:450px ">
            <h2><b>Dikkat Edilecek Husular</b></h2>
        </div>
    </div>
</div>
<hr />

<p>Öğrenciler stajları süresince aşağıdaki hususları ve tavsiyeleri dikkate almalıdırlar.</p>

<ol style="text-align:justify">
    <li>Öğrenciler staj yaptıkları işyerinde kendi şahsiyetleri yanında, Bilecik Üniversitesini ve eğitim aldıkları bölümlü temsil ettiklerini unutmamalıdırlar. Kendileri ve bölümümüz hakkında olumsuz bir görüş oluşturacak davranışlardan kaçınmalıdırlar.</li>
    <li>Staj yapılan kurum veya kuruluşun faaliyet konularının, organizasyon yapısı ve kısımları hakkında bilgi edinilmelidir. Staj esnasında çalışma hayatında bir Bilgisayar Mühendisinden beklentilerin neler olduğu sorgulanmalı ve iş yerindeki idari yapı incelenmelidir.</li>
    <li>Öğrenciler “Stajların Tanımı ve Kapsamı” başlığı altında belirtilen zorunlu uygulamaları eksiksiz, diğer uygulamaları da azami düzeyde görmeye çalışmalıdır. Bu uygulamalarda kullanılan araç ve gereçleri incelemelidir.</li>
    <li>
        Öğrenci, stajının çalışma hayatına hazırlık açısından çok büyük önem taşıdığının bilincinde olmalıdır. Staj, öğrencinin öğrendiği bilgileri tatbik edebilmesinin ve gördüğü yeni uygulamaları araştırıp pekiştirmesinin en güzel bir fırsatıdır. Dolayısıyla öğrenci bu bilinçle öğrenmeye istekliliğini göstermeli, bir mühendis gibi aktif şekilde
        görev almaya çalışmalıdır. Öğrenmenin en etkin yolu soru sormaktan geçmektedir. Dolayısıyla öğrenci, tecrübeli mühendislere veya şeflere soru sormaktan çekinmemelidir. Ayrıca, öğrenci yapılan uygulamaları sıradan biri gibi gözlemlemek yerine, öğrendiği ve araştırdığı bilgiler çerçevesinde sorgulamalıdır.
    </li>
    <li>Staj başlamadan önce, staj yapacakları konu ile ilgili kitap ve ilgili standartların edinilmesi büyük fayda sağlayacaktır. Stajdan önce ve staj süresince bu kaynaklara sıkça başvurmaları, stajda yapılan gözlemlerin bir mühendis gözüyle bakılmasını sağlayacaktır. Geçirilen verimli bir staj dönemi ile ilerideki çalışma hayatlarına sağlam bir basamak teşkil edecektir.</li>
    <li>Gözlemlenen işler mühendislik açısından değerlendirilmeli, öğrenilen ve stajda edinilen bilgiler çerçevesinde hatalı uygulamalar tespit edilmeye çalışılmalıdır.</li>
    <li>Staj esnasında fotoğraf ve video çekimleri gerekebileceğinden, öğrencilerin bu kayıt aletlerini iş yerinin bilgisi olmak şartıyla, yanlarında bulundurmaları gerekmektedir.</li>
    <li>Staj esnasında yapılan uygulamalara ait proje ve belgeler hakkında bilgi edinilerek bunlardan örnekler temin edilmelidir. Rapordaki anlatım, bir mühendise yakışan teknik terminoloji ve gerekli belgelerle desteklenmeli, düzgün bir anlatım dili kullanılarak yazılmalıdır.</li>
</ol>

<br />
