@model IEnumerable<Staj2.Models.ResmiTatiller>

@{
    ViewBag.Title = "TatilGunleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<p style="font-weight: bold; font-style: italic; margin-left: 335px"><a style=" color: black">Açıklama:</a> Lütfen sene içindeki resmi tatil günlerini ekleyiniz. </p>


<script>
    function GunSil(id) {

        if (confirm('Tarih Bilgisi Silinsin mi?')) {
            var model = {
                "id": id
            };

            $.ajax({
                url: '/Admin/GunSil',
                type: "POST",
                data: model,
                success: function (result) {
                    alert("Tarih Başarıyla Silindi")
                    location.reload();
                }
            });

        }
    }
</script>

<br />

<form action="/Admin/TatilGunleri" method="post">

    <p style="font-style:italic;margin-left:450px;font-weight:bold">Lütfen tarih bilgisini seçiniz.</p>
    <input type="date" name="resmitatiller" style="width:350px;margin-left:368px;text-align:center;font-size:27px;font-style:italic" />
    <p style="font-style:italic;margin-left:400px;font-weight:bold">Tarih ile ilgili açıklama metni girebilirsiniz.</p>
    <textarea style="font-style:italic;margin-left:270px;width:550px;text-align:center" rows="2" name="Aciklama"></textarea><br />
    <button type='submit' class='btn btn-success btn-lg' style="margin-left:500px">Tarihi Kaydet</button><br />
    <br />
</form>

<h4 style="font-weight:bold;font-style:italic;margin-left:400px">Eklenilen Resmi Tatil Günleri</h4>
<hr />

<table class="table">
    <thead>
        <tr style="font-size:17px;color:red">
            <th scope="col" style="font-weight:bold;font-style:italic">Eklenilen Resmi Tatil Günleri</th>
            <th scope="col" style="font-weight:bold;font-style:italic">Açıklama</th>
            <th scope="col" style="font-weight:bold;font-style:italic">Tarihi Sil</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr style="font-size:27px">
                <td style="font-style:italic">@item.ResmiTatil.ToString().TrimEnd('0', ':')</td>

                <td style="font-style:italic">@item.Aciklama</td>

                <td><a onclick="GunSil(@item.ID)"><button type="button" class="btn btn-danger ">Tarihi Sil</button></a></td>
            </tr>

        }

    </tbody>
</table>








