
@{
    ViewBag.Title = "BasvuruBelgeleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight: bold;text-align:center">    Staj Basvuru Belgeleri</h2><hr />

<h3 style="font-weight:bold;color:red">BU SAYFADAKİ TÜM BİLGİLER STAJ İÇİN ÖNEMLİDİR. LÜTFEN TAMAMINI OKUYUNUZ.</h3>

<p style="text-align:justify">
    Staj başvurusu için gerekli olan belgeler aşağıdadır. <a style="font-weight: bold; font-style: italic;color:red">Not:</a> Staj yaparken <a href="/Home/StajSonrasiYapilacaklar" style="font-weight: bold; font-style: italic;color:orange">Staj Sonrası Yapılacaklar</a> bölümünü kesinlikle kontrol ediniz. Yeniden staj yaptığınız firmaya gitmemeniz ve zaman kaybı olmaması açısından ihtiyaç gereken formları unutmayınız.
    <br /> <br />
    Staj başvurusunu staja başlamadan <a style="font-weight:bold">en az 20 gün önce</a> önce yapmanız gerekmektedir.
    <br /> <br />
    Staj başvurusu için aşağıdaki belgeleri eksiksiz şekilde doldurup taratıldıktan sonra sistem üzerinden pdf formatında teslim etmeniz gerekmektedir. Aşağıda firmaya onaylatılacak herhangi bir belge mevcut değildir. Firma talep etmemişse gerek de yoktur.
    <br /> <br />
    Belgelerde oluşan imza eksikliği veya önemli bir eksiklik sonucu işlemleri tekrar yapmanız gerekecektir. Bu yüzden dikkatli doldurunuz.
    <br /> <br />
    Talep eden öğrencilere gerekli evrakları onaylandıktan sonra sistem üzerinden geri bildirim yapılacaktır. Staja başladığınızda firma belge talep edebilir.
    <br /> <br />
    Provizyon herkeste olmayabilir. Provizyon görünmeyen arkadaşlar e-devlet sayfasının ekran görüntüsünü gönderebilirler.
</p>

<hr />
<h2 style="font-weight: bold;text-align: center;">BAŞVURU BELGELERİ</h2>


<p>
    1) Staja kabul edildiğinize dair firmadan bir yetkilinin <a style="font-weight:bold">Arş. Gör. Sefa Tunçer’e</a> atacağı kabul yazısı/e-maili.<br /><br />
    2) Staj dilekçesi <a href="~/StajBelgeleri/StajBasvuru-Ek1.pdf" style="font-weight: bold; font-style: italic;color:orange"> (Ek-1 )</a> <a style="font-weight: bold; font-style: italic; color: red">Not:</a> Dilekçedeki boşluğa kaçıncı staj olduğu bilgisi girilecektir. <a style="font-weight: bold; font-style: italic"> (…(1)veya(2)…. stajımı yapmak üzere…) </a><br /><br />
    3) Staj Taahhütnamesi <a href="~/StajBelgeleri/StajBasvuru-Staj-Taahhütnamesi.pdf" style="font-weight: bold; font-style: italic; color: orange"> (Staj Taahhütnamesi_yeni)</a><br /><br />
    4) Staj Formu <a href="~/StajBelgeleri/StajBasvuru-Ek2.pdf" style="font-weight: bold; font-style: italic; color: orange"> (Ek-2 </a> -1 Adet – <a style="font-style: italic; color: red">Fotoğraf olmalı!)</a>  <a style="font-weight: bold;font-style: italic; color: red">Not:</a> Bu forma SSK No girilmesine gerek yoktur. Fakülte No: T.C. Kimlik No’sudur.<br /><br />
    5) <a style="font-weight: bold; font-style: italic">Provizyon çıktısı:</a> Provizyon sorgulaması e-devlet üzerinden <a href="https://www.turkiye.gov.tr/spas-mustahaklik-sorgulama" style="font-weight: bold; font-style: italic; color: orange"> "https://www.turkiye.gov.tr/spas-mustahaklik-sorgulama"</a> adresinden yapılacaktır. E-devlet şifrenizin olması gerekmektedir. (PTT’den e-devlet şifresi alabilirsiniz.)<br /><br />
    6) <a href="~/StajBelgeleri/StajBasvuru-Staj-Defteri-Onay-Sayfası.pdf" style="font-weight: bold; font-style: italic; color: orange">Staj Defteri Onay Sayfası</a> (İşyeri talep etmemişse bu formun çıktısını almanıza gerek yoktur. Staj defterinde bu sayfa mevcuttur.)<br /><br />
</p>
<hr />

<h3 style="font-weight:bold;text-align:center">STAJIN ZORUNLU OLDUĞUNA DAİR BELGE <a style="font-weight:bold;color:gray">(Sadece firma talep ettiğinde gerekir.)</a></h3>

Bazı firmalar staj başvurusu yapmadan önce bu belgeyi talep etmektedir. Bu belgeyi alabilmek için;
<br />
<br />
<li style="text-align:justify">Bölüm Sekreteri <a style="font-style:italic">Tufan Bey’e </a> <a style="font-weight:bold;font-style:italic;color:red">(tufan.inac@bilecik.edu.tr) </a>bu belgeyi talep ettiğinize dair <a style="font-weight:bold;color:gray">dilekçe yazıp imzalayıp tarattıktan sonra PDF formatında</a> göndermeniz gerekmektedir.</li>
<br />
Size mail olarak geri dönüş yapılacaktır.
<br />
<br />
<a href="~/StajBelgeleri/Staj-Dilekçe_Örneği.pdf" style="font-weight: bold; font-style: italic;color:red">Dilekçe Örneği için tıklayınız.</a>
<br />
<br />

<a style="font-weight: bold; font-style: italic;color:red">Not:</a> Bu belge sizden istenmediği takdirde bölümden talepte bulunmayınız.
<hr />
<a style="font-weight: bold;color:red">Önemli Ek Bilgiler</a>
<hr />
<p>
    Staj başlangıç ve bitiş tarihlerini belirlerken resmi tatil günlerini de dikkate almanız gerekmektedir. Toplam 20 iş günü olmalıdır.
    <br />
    <br />
    Ücret alacak öğrenciler <a href="/Home/StajSonrasiYapilacaklar" style="font-weight: bold; font-style: italic; color: orange">Staj Sonrası Yapılacaklar</a> sayfasını incelemelidir.
    <br />
    <br />
    Staj sigorta bilgisini tüm öğrenciler staja başlamadan birkaç gün önce (2-5 gün içerisinde) E-Devlet ‘ten alabilirler.
    <br />
    <br />
    Final sınavlarından hemen sonra ve bütünleme tarihlerinde staja başlayabilirsiniz.
    <br />
    <br />
    Staj bittikten sonra firmanın doldurması gereken değerlendirme formu ve takip çizelgesi <a href="/Home/StajSonrasiYapilacaklar" style="font-weight: bold; font-style: italic;color:orange">Staj Sonrası Yapılacaklar</a> sayfasında mevcuttur.
</p>
