@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CSS/AnaSayfa.css" rel="stylesheet" />
<script src=“https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js”></script>

<body>
    <div class="Anasayfa-h1">
        <div class="Anasayfa-IcerikAlani">
            <div style="margin-left:270px ">
                <h2 style="font-weight:bold">Bilecik Şeyh Edebali Üniversitesi Staj Takip Programı</h2><hr />
            </div>
        </div>
        
    </div>
    

    <p style="text-align:justify">
        Bilecik Şeyh Edebali Üniversitesi <a class="Anasayfa-a" style="color:red">"Staj Takip Sistemine" </a> hoşgeldiniz. Kullanıcı paneli üzerinden ilgili staj türünü seçtikten sonra giriş yapabilirsiniz. Önceden oluşturmuş olduğunuz bir hesabınız yok ise <a class="Anasayfa-a" style="color:orange">Üye Ol</a> sayfası ile sisteme kaydolup, daha sonra okul numaranız ve şifreniz ile
        sisteme giriş yapabilirsiniz. <a class="Anasayfa-a" style="color: orange">Giriş Ekranı</a> üzerinden giriş yapan her bir öğrenci staj başvuru belgelerini doldurup sistem üzerinden yükledikten sonra başvurusu onaylanan öğrenciler
        staj programlarını gerçekleştirebilirler. Stajınızı yaparken günlük olarak yaptığınız işleri sistem üzerinden kaydetmenizle staj defteriniz otomatik olarak hazırlanmış olacaktır. Lütfen sistemi günlük olarak
        takip etmeyi unutmayınız.
        <hr />
        <div style="text-align:center">
            <a class="Anasayfa-a" style="color:red;text-align:center">Not:</a> Aşağıdaki bağlantılarda staj ile ilgili bilgilendirmeler mevcuttur. İlgili bağlantılara tıklayarak gerekli bilgilere ulaşabilirsiniz.
        </div>

    </p>

    <br />

    <div class="Anasayfa-cerceve">

        <h3 class="Anasayfa-h2">Staj İle İlgili Bilgilendirmeler</h3> <hr style="border-width:5px" />

        <p>Staj yönergesine ulaşmak için <a href="~/StajBelgeleri/StajYonergesi.pdf" class="Anasayfa-a" style="color: #00897B">tıklayınız</a></p>

        <p>Staj bilgilendirme sayfasına ulaşmak için <a href="/Home/StajBilgilendirme" class="Anasayfa-a" style="color: #00897B">tıklayınız</a></p>

        <p>Staj başvuru belgelerine ulaşmak için <a href="/Home/BasvuruBelgeleri" class="Anasayfa-a" style="color: #00897B ">tıklayınız</a></p>

        <p>Staj sonrası yapılacaklar için <a href="/Home/StajSonrasiYapilacaklar" class="Anasayfa-a" style="color: #00897B ">tıklayınız</a></p>

        <p>Dikkat edilecek hususlar için <a href="/Home/DikkatEdilecekHusular" class="Anasayfa-a" style="color: #00897B ">tıklayınız</a></p>
    </div>
</body>

<hr />

