
@{
    ViewBag.Title = "SifremiYenile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="row">
    <div style="border: 1px solid #000; padding: 8px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; width: 695px; margin-left: 270px">

        <section>
            <h1 style="text-align:center;font-weight:bold;font-style:italic;color:red">Yeni Şifre Belirleme</h1><hr />
            <h3 style="text-align:center">E-posta adresinize gelen doğrulama kodu ile yeni şifrenizi oluşturup giriş yapabilirsiniz.</h3>
            <h3 style="font-weight:bold;font-style:italic;text-align:center;color:red">@ViewBag.Uyari</h3>
            <h3 style="font-weight:bold;font-style:italic;text-align:center;color:green">@ViewBag.Uyari1</h3>
            <input value="@Session["Kod"]" type="hidden" />
            <input value="@Session["id"]" name="id" type="hidden" />
        </section>
        <!--end page-title-->
        <section>
            <form method="post">
                @*<div>
                    <label for="email" style="font-style:italic;margin-left:275px">E Posta Adresiniz</label>
                    <input type="email" style="width: 450px; text-align: center;margin-left:105px" required="" name="Mail" id="Mail" placeholder="Mail Adresiniz">
                </div>*@
                <div class="form-group">
                    <label for="dogrulama" style="font-style: italic; margin-left: 275px; margin-top: 10px">Doğrulama Kodu</label>
                    <input type="text" style="width: 450px; text-align: center; margin-left: 105px" required="" name="kod" id="kod" placeholder="Kodunuz">
                </div>
                <!--end form-group-->
                <div class="form-group">
                    <label for="password" style="font-style: italic; margin-left: 290px">Yeni Şifreniz</label>
                    <input type="password" style="width: 450px; text-align: center; margin-left: 105px" required="" name="sifre" id="sifre" placeholder="Şifreniz">
                </div>

                <div class="form-group">
                    <label for="password" style="font-style: italic; margin-left: 275px">Yeni Şifreniz Tekrar</label>
                    <input type="password" style="width: 450px; text-align: center; margin-left: 105px" required="" name="sifreTekrar" id="sifreTekrar" placeholder="Yeni Şifreniz">
                </div>

                <div class="form-group center">
                    <button type="submit" style="margin-left:285px" class="btn btn-success">Şifreyi Yenile</button>
                </div>
                <!--end form-group-->
            </form>

            <div>
                <a href="/Kullanici/GirisYap" style="font-style:italic">Ana Sayfaya Geri Dön</a>
            </div>

            <hr>
        </section>
    </div>
    <!--col-md-4-->
</div>
<br />
