@model Staj1.Models.StajBaslatilsinMi
@{
    ViewBag.Title = "HataSayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight: bold;font-style:italic ; text-align:center; color:red">Staj Dönemi Açılmadığından Giriş Yapamazsınız.</h1>

<h3 style="font-weight: bold;font-style:italic ; text-align:center">@Model.Aciklama</h3>

<br />
@*<h3 style="font-weight: bold;font-style:italic ; text-align:center"> Staj ile ilgili duyurulara bölümümüz sayfasından ulaşabilirsiniz.<a href="http://w3.bilecik.edu.tr/bilgisayar/" style="color:red">Tıklayınız</a></h3>*@